<!DOCTYPE html>
  <html>
    <head>
      <h1>Hello <%= @user.name %>!</h1>
      <hr width="75%">
    </head>

    <body>
      <div class="create_tip">
        <h3><a href="/new">Add a new tip to Kitch-Tips!</a></h3>
      </div>

      <div class="user_tips">
        <hr width="75%">
      </div>

      <div class="logout">
        <h3><a href="/logout">Log Out</a> of your account</h3>
      </div>
    </body>
  </html>
