<!DOCTYPE html>
  <html>
    <head>
      <h1>Kitch-Tips</h1>
      <h3>A place to share and find useful kitchen tips for those ingredients
        you don't always know what to do with.</h3>
        <hr width="75%">
    </head>

    <body>

      <div class="account">
        <h3>To create, edit, or save your favorite tips
        <a href="/signup">Sign Up</a>
        or
        <a href="/login">Log In</a>
        to your account.</h3>
        <hr width="75%">
      </div>

      <div class="recent_tips">
        <h2>Most Recent Tips</h2>
        <!--show 5ish most recent tips here -->
      </div>
    </body>
  </html>
