<!DOCTYPE html>
  <html>
    <head>
      <h2>Welcome to Kitch-Tips!</h2>
    </head>

    <body>
      <div class="login">
        <h3>Sign in to your Kitch-Tips account</h3>
        <form method="post" action="/login">
          <h4>Username:</h4><input type="text" name="username" id="username">
          <h4>Password:</h4><input type="password" name="password" id="password">
          <br></br>
          <input type="submit" value="Log In">
          <br></br>
          <h4><a href="/signup">Don't have an account? Sign up here!</a></h4>
          <!-- add functionality for lost username and password below -->
          <h4>I forgot my username and/or password</h4>
        </form>
      </div>
    </body>
  </html>
